@import "tailwindcss";
*{
  font-family: "Google Sans", sans-serif;

}
.font-color{
      color: #C0C1FF;
}
.gradient-bg {
  background: linear-gradient(
    135deg,
    #571BC1 0%,
    #D0BCFF 50%,
    #C0C1FF 100%
  );
}
.shadow{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}