@import "tailwindcss";
*{
  font-family: "Google Sans", sans-serif;

}
.font-color{
      color: #C0C1FF;
}
.gradient-bg {
  background: linear-gradient(
    135deg,
    #571BC1 0%,
    #D0BCFF 50%,
    #C0C1FF 100%
  );
}